<%- include('partials/header') %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Er is een fout opgetreden</h4>
        <p><%= message %></p>
        <hr>
        <p class="mb-0">Ga terug naar de <a href="/">homepage</a>.</p>
    </div>
<%- include('partials/footer') %>