<%- include('partials/header') %>
<h1 class="mb-4">Home</h1>
<div class="row row-cols-1 g-4">
    <div class="col">
    <div class="card h-100">
        <div class="card-body">
        <h5 class="card-title">User Story 1: Acteurs Overzicht</h5>
        <p class="card-text">Als medewerker wil ik een lijst kunnen zien van alle acteurs.</p>
        <ul>
            <li>De lijst toont het id, naam en aantal films waarin de acteur speelt.</li>
            <li>Er is een knop aanwezig waarmee je op een detail pagina komt waarin je alle films kunt zien van die acteur.</li>
        </ul>
        </div>
    </div>
    </div>
</div>
<%- include('partials/footer') %>