<%- include('partials/header') %>
<h1 class="mb-4">Home</h1>

<div class="row row-cols-1 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">User Story 1: Acteurs Overzicht</h5>
                <p class="card-text">Als medewerker wil ik een lijst kunnen zien van alle acteurs zodat ik snel informatie kan opzoeken.</p>
                <ul>
                    <li>De lijst toont het id, de voor- en achternaam, en het aantal films waarin de acteur speelt.</li>
                    <li>Er is een knop aanwezig die naar een detailpagina leidt met alle films van die acteur.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 g-4 mt-2">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">User Story 2: Acteurs Bewerken</h5>
                <p class="card-text">Als medewerker wil ik de voor- en achternaam van acteurs kunnen aanpassen en hen aan films koppelen of ontkoppelen, zodat de gegevens altijd correct en volledig zijn.</p>
                <ul>
                    <li>In de lijst met acteurs is er een bewerkknop die naar een pagina leidt waarop de huidige gegevens al zijn ingevuld.</li>
                    <li>Op de bewerkpagina kan ik een acteur koppelen aan films of bestaande koppelingen verwijderen.</li>
                    <li>Na het aanpassen van gegevens en klikken op "Opslaan" worden alle wijzigingen, inclusief filmkoppelingen, direct bijgewerkt in het systeem.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 g-4 mt-2">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">User Story 3: Acteurs Aanmaken</h5>
                <p class="card-text">Als medewerker wil ik nieuwe acteurs kunnen toevoegen zodat het systeem up-to-date blijft.</p>
                <ul>
                    <li>Bovenaan de website staat een knop die naar een formulierpagina leidt om een nieuwe acteur aan te maken met voor- en achternaam.</li>
                    <li>Na het invullen van het formulier en klikken op "Aanmaken" wordt de acteur direct toegevoegd aan het systeem.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 g-4 mt-2 mb-1">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">User Story 4: Acteurs Verwijderen</h5>
                <p class="card-text">Als medewerker wil ik een acteur kunnen verwijderen zodat het systeem geen onjuiste of ongewenste gegevens bevat.</p>
                <ul>
                    <li>In de lijst met acteurs staat achter elke acteur een verwijderknop.</li>
                    <li>Bij het klikken opent een modal waarin het wachtwoord moet worden ingevuld. Als het wachtwoord correct is, wordt de acteur verwijderd uit alle films en uit het systeem.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
