<%- include('partials/header') %>
<h1 class="mb-4">Home</h1>

<p>Dit is een server-side applicatie voor het beheren van acteurs en hun filmkoppelingen. De applicatie is bedoeld voor medewerkers om snel informatie op te zoeken, aan te passen, toe te voegen of te verwijderen.  </p>


<%- include('partials/footer') %>
